myserver.ch {
 # ******** STATIC *************
 root * /static
 file_server

 # ******** SHINY **************
 handle_path /shiny/* {
    # Strip the /shiny prefix and proxy the request to Shiny Server
    reverse_proxy shiny_prod:3838
 }

 # ******** SHINY-TEST **********
 handle_path /shiny-test/* {
    # Strip the /shiny-test prefix and proxy the request to the test Shiny Server
    reverse_proxy shiny_test:3838
 }

 # ******** SSL ****************
 # if Caddy does not take care of ssl
 tls /etc/caddy/certs/myserver.pem /etc/caddy/certs/myserver.key
}
